<div class="wrapper clearfix">
   <div class="wizard-part-title">
      <h3> Aplicación servicio <br> de garante | Legales</h3>

   </div>
   <!--multisteps-form-->
   <div class="multisteps-form">
      <!--progress bar-->
      <div class="row">
         <div class="col-12 col-lg-12 ml-auto mr-auto mb-5 mt-5">
            <div class="multisteps-form__progress">
               <button class="multisteps-form__progress-btn js-active">1</button>
               <button class="multisteps-form__progress-btn">2</button>
               <button class="multisteps-form__progress-btn">3</button>
               <button class="multisteps-form__progress-btn">4 </button>
            </div>
         </div>
      </div>
      <!--form panels-->
      <div class="row">
         <div class="col-12 col-lg-12 m-auto">
            <!-- <form class="multisteps-form__form clearfix" action="index.html#" method="post" id="wizard"> -->
            <form class="multisteps-form__form clearfix" action="#" method="post" id="wizard" [formGroup]="ngFormRequest" (ngSubmit)="saveRequest()">

               <!--single form panel-->
               <div class="multisteps-form__panel js-active" data-animation="slideVert">
                  <div class="inner pb-100">
                     <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>1 of 6 Completedo</span>
                           <div class="progress">
                              <div class="progress-bar">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="wizard-content-item text-justify">
                        <h2 style="text-align: center;">AUTORIZACIÓN TRATAMIENTO DE DATOS PERSONALES Y
                           CENTRALES DE INFORMACIÓN</h2>
                        <p> Declaro que para efectos de acceder a la prestación de servicios por parte de
                           REALTY & LEGAL INDUSTRY S.A.S, el suscrito ha suministrado datos personales y
                           este como responsable en cumplimiento de las disposiciones de la Ley 1581 de
                           2012 y demás normas vigentes, le informa que los datos personales que se recojan
                           y conserven en nuestras bases de datos con motivo aplicación servicio de
                           garante, serán utilizados para los fines dispuestos en este contrato como son:
                           el cumplimiento de las obligaciones contractuales, legales y evaluación de los
                           servicios prestados, informar sobre interrupciones y/o suspensiones de los
                           mismos servicios contratados, entre otras finalidades necesariamente conexas con
                           la prestación del servicio de publicidad. REALTY & LEGAL INDUSTRY S.A.S, como
                           entidad socialmente responsable, informa que sus datos serán tratados de manera
                           segura y confidencial, y que le asisten los derechos de conocerlos,
                           actualizarlos y rectificarlos, acorde con la norma de protección de datos
                           personales y la política adoptada por ella, y que esta información será
                           conservada hasta cuando exista relación contractual o legal entre el
                           Cliente/Usuario y la entidad.
                        </p>
                        <div class="n-summary col-2" style="text-align: initial;">
                           <label >
                              
 
                              <input 
                              type="checkbox" 
                              class="form-control" 
                              id="terminos" 
                              placeholder="Por favor, acepte para continuar" 
                              formControlName="terminos"
                              required [ngClass]="{ 'is-invalid': 
                              submitted && f['terminos'].errors }" >
                              <span class="checkmark">Si Autorizo</span>
                           </label>
                        </div>
                        <p>¿Tienes dudas?</p> Hablemos via correo: <a
                           href="mailto:hello&#64;legales.com.co">hello&#64;legales.com.co </a>
                     </div>

                     <div class="wizard-footer">

                        <div class="actions">
                           <ul>
                              <li><span class="js-btn-next" title="Sig">Sig <i
                                       class="fa fa-arrow-right"></i></span></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="multisteps-form__panel " data-animation="slideVert">
                  <div class="inner pb-100">
                     <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>2 of 6 Completedo</span>
                           <div class="progress">
                              <div class="progress-bar">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="wizard-content-item text-center">
                        <h2></h2>
                        <p>Seleccione las respuestas correspondientes</p>
                     </div>
                     <div class="wizard-content-form">
                        <div class="wizard-form-field">
                           <div class="row">
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                       type="text" 
                                       class="form-control" 
                                       id="email" 
                                       placeholder="Correo electrónico" 
                                       formControlName="email"
                                       required [ngClass]="{ 'is-invalid': 
                                       submitted && f['email'].errors }"   
                                    >
                                       

                                    <label>Correo electrónico</label>
                                 </div>
                              </div>
                              <div class="col-md-8">
                                 <div class="n-summary">
                                    <span>¿Qué tipo de cliente eres?</span>
                                    <label>
                                       <input type="radio" id="clientType" value="nuevo"
                                          name="clientType" required data-parsley-required
                                          data-parsley-required-message="Por favor, selecciona un tipo de cliente">
                                       <span class="checkmark">Soy un cliente Nuevo</span>
                                    </label>
                                    <label>
                                       <input type="radio" id="clientType" value="existente"
                                          name="clientType" required data-parsley-required
                                          data-parsley-required-message="Por favor, selecciona un tipo de cliente">
                                       <span class="checkmark">Soy un cliente Existente</span>
                                    </label>
                                 </div>

                              </div>
                           
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">Información
                                    personal
                                 </p>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <!-- <input type="text" name="name" class="form-control" placeholder="Nombre completo"> -->
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="name" 
                                    placeholder="Nombre completo" 
                                    formControlName="name" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['name'].errors }">

                                    <label>Nombre completo</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label mt-0 n-select-option">
                                    <select id="identityType" name="identityType" class="form-control"
                                       required data-parsley-required
                                       data-parsley-required-message="Por favor, seleccione un tipo de documento">
                                       <option value="">Seleccione el tipo de documento</option>
                                       <option value="Cedula de ciudadania">Cédula de ciudadanía
                                       </option>
                                       <option value="Cédula extranjera">Cédula de extranjeria</option>
                                       <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="di" 
                                    placeholder="Cedula de ciudadania" 
                                    formControlName="di" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['di'].errors }">
                                    <label>Número de documento</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="placExpd" 
                                    placeholder="Lugar de expedición" 
                                    formControlName="placExpd" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['placExpd'].errors }">
                                    <label>Lugar de expedición</label>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="numWhat" 
                                    placeholder="Numero de celular WhatsApp" 
                                    formControlName="numWhat" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['numWhat'].errors }">
                                    <label>Numero de celular WhatsApp</label>
                                 </div>
                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p>Información laboral</p>
                              </div>
                              <div class="col-md-12 wizard-identity wizard-content-form">
                                 <h4 style="padding-bottom: 20px;">Conozcámonos mejor. Cuénteme una breve
                                    descripción de su actividad laboral o trabajo, cual es el cálculo de
                                    tus ingresos mensuales y por cuanto tiempo te dedicas a esto.</h4>
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="infLabol" 
                                    placeholder="Por favor, describa su actividad laboral" 
                                    formControlName="infLabol" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['infLabol'].errors }">

                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">Por favor,
                                    proporcione la siguiente información para completar el registro del
                                    arrendamiento o compra de bien inmobiliario
                                 </p>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="aptoPlace" 
                                    placeholder="ingresa el Dirección del apartamento" 
                                    formControlName="aptoPlace" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['aptoPlace'].errors }">

                                    <label>Dirección del apartamento</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="numApto" 
                                    placeholder="Número del apartamento" 
                                    formControlName="numApto" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['numApto'].errors }">
                                    <label>Número del apartamento</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="asesor" 
                                    placeholder="Nombre del asesor que le atendio" 
                                    formControlName="asesor" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['asesor'].errors }">
                                    <label>Nombre del asesor</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="inmobiliaria" 
                                    placeholder="Nombre de la inmobiliaria" 
                                    formControlName="inmobiliaria" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['inmobiliaria'].errors }">
                                    <label>Nombre de la inmobiliaria</label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div
                                    class="wizard-form-input position-relative form-group has-float-label">
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="canon" 
                                    placeholder="Valor del canon" 
                                    formControlName="canon" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['canon'].errors }">
                                    <label>Valor del canon</label>
                                 </div>
                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">DECLARACIÓN DE
                                    ORIGEN DE FONDOS
                                 </p>
                              </div>
                              <div class="col-md-12">
                                 <div class="wizard-identity wizard-content-form">
                                    <h3>Las partes aquí declaran bajo la gravedad del juramento que
                                       sus ingresos provienen de actividades licitas, que no se
                                       encuentran con registro negativo en listados de prevención
                                       de lavado de activos nacionales o internacionales, que no se
                                       encuentran dentro de una de las dos categorías de lavado de
                                       activos (conversión o movimiento) y que, en consecuencia, se
                                       obligan a responder a la otra parte por todos los perjuicios
                                       que se llegaren a causar como consecuencia de esta
                                       afirmación. En igual sentido responderá ante terceros.
                                       Declaran igualmente, que sus conductas se ajustan a la ley y
                                       a la ética
                                    </h3>
                                    <div class="n-summary" style="text-align: left;">
                                       <label style="float: left;">
                                          <input type="radio" id="clientType" value="nuevo"
                                             name="clientType" required data-parsley-required
                                             data-parsley-required-message="Por favor, selecciona una opción">
                                          <span class="checkmark">Lo juro</span>
                                       </label>
                                       <label style="float: left;">
                                          <input type="radio" id="clientType" value="existente"
                                             name="clientType" required data-parsley-required
                                             data-parsley-required-message="Por favor, selecciona una opción">
                                          <span class="checkmark">No lo juro</span>
                                       </label>
                                    </div>
                                 </div>
                              </div>

                           </div>
                           <div class="wizard-footer" style="min-height: 350px;">
                              <div class="wizard-imgbg">
                                 <img src="assets/img/v3.png" alt="">
                              </div>
                              <div class="actions">
                                 <ul>
                                    <li><span class="js-btn-prev" title="Atras"><i
                                             class="fa fa-arrow-left"></i> Atras</span></li>
                                    <li><span class="js-btn-next" title="Sig">Sig <i
                                             class="fa fa-arrow-right"></i></span></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="multisteps-form__panel" data-animation="slideVert">
                  <div class="inner pb-100">
                     <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>3 of 6 Completedo</span>
                           <div class="progress">
                              <div class="progress-bar" style="width: 65%;"></div>
                           </div>
                        </div>
                     </div>
                     <div class="wizard-content-item text-center">
                        <h2>Referencias familiares o personales</h2>
                        <p>Ingrese 3 referencias familiar o personal</p>
                     </div>
                     <div class="wizard-content-form" id="referenceFields">
                        <div class="wizard-form-input position-relative form-group has-float-label">
                           <!-- aqui van los campos del script| -->
                        </div>
                     </div>
                     <div class="wizard-footer" style="min-height: 350px;">
                        <div class="wizard-imgbg">
                           <img src="assets/img/v3.png" alt="">
                        </div>
                        <div class="actions">
                           <ul>
                              <li><span class="js-btn-prev" title="Atras"><i class="fa fa-arrow-left"></i>
                                    Atras</span></li>
                              <li><span class="js-btn-next" title="Sig">Sig <i
                                       class="fa fa-arrow-right"></i></span></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div><!--  -->
               <div class="multisteps-form__panel " data-animation="slideVert">
                  <div class="inner pb-100">
                     <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>6 of 6 Completedo</span>
                           <div class="progress">
                              <div class="progress-bar">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="wizard-content-item text-center">
                        <h2>Declaración</h2>

                     </div>
                     <div class="wizard-identity wizard-content-form">
                        <div class="row">
                           <div class="col-md-12 wizard-identity wizard-content-form">
                              <p style="padding-bottom: 20px;">El suministro de información falsa en la
                                 presente solicitud incurre en el delito de falsedad en documento privado
                                 de acuerdo con los artículos 289 y 290 del C.P.C.</p>
                              <div class="n-summary" style="text-align: left;">
                                 <label style="float: left;">
                                    <input type="radio" id="clientType" value="nuevo" name="clientType"
                                       required data-parsley-required
                                       data-parsley-required-message="Por favor, selecciona una opción">
                                    <span class="checkmark">Mi información es real</span>
                                 </label>
                                 <label style="float: left;">
                                    <input type="radio" id="clientType" value="existente"
                                       name="clientType" required data-parsley-required
                                       data-parsley-required-message="Por favor, selecciona una opción">
                                    <span class="checkmark">No, mi información no es real</span>
                                 </label>
                              </div>
                           </div>
                        </div>
                        <div class="wizard-content-item text-center col-md-12">
                           <p style="text-align: center; padding-bottom: 10px;">Información de pago
                           </p>
                        </div>
                        <div class="wizard-identity wizard-content-form">
                           <div class="row">
                              <p>Adjunta comprobante pago de estudio de la aplicación, valor 75.000 cop
                                 debe ser consignados en la cuenta de ahorros Bancolombia 245-000055-24 a
                                 nombre de REALTY & LEGAL INDUSTRY S.A.S, también lo puedes hacer por
                                 medio de nuestro botón de pagos o la dirección de PayPal
                                 realtylegalindustry&#64;gmail.com</p>
                                 <span>Nota: Botón de pagos y PayPal tiene cargos adicionales del 3% aproximadamente.</span>
                              <div class="col-md-12">
                                 <!-- <div class="wizard-identity-box identity-upload text-center">
                                    <div class="upload-icon">
                                       <i class="fas fa-cloud-upload-alt"></i>
                                    </div>
                                    <div class="upload-option text-center">
                                       <label for="file-images">Carga de archivos</label>
                                       <input id="file-images" style="visibility:hidden; display: none;" type="file">
                                       <span>.jpg or .pdf should
                                       be more than 500KB or 300PI</span>
                                    </div>
                                 </div> -->
                                 <p>Adjunta comprobante</p>
                                 <input type="file" class="filepond" name="filepond">
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="wizard-footer" style="min-height: 350px;">
                        <div class="wizard-imgbg">
                           <img src="assets/img/v3.png" alt="">
                        </div>
                        <div class="actions">
                           <ul>
                              <li><span class="js-btn-prev" title="Atras"><i class="fa fa-arrow-left"></i>
                                    Atras</span></li>
                                    <!-- <li><button type="submit" id="submit-form" title="NEXT" (click)="saveRequest()">Enviar <i
                                             class="fa fa-arrow-right"></i></button></li> -->
                              <li><button type="submit" id="submit-form" title="NEXT">Enviar <i
                                       class="fa fa-arrow-right"></i></button></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>

</div>