<div class="wrapper clearfix">
   <div class="wizard-part-title">
      <h3>Aplicación servicio <br> de garante | Legales</h3>
     <button>
      <a (click)="global.setRoute('login')" class="login-button">
        <i class="fa fa-user"></i> Login
      </a>
   </button>
    </div>
    
   <!--multisteps-form-->
   <div class="multisteps-form">
      <!--progress bar-->
      <div class="row">
         <div class="col-12 col-lg-12 ml-auto mr-auto mb-5 mt-5">
           
            <div class="multisteps-form__progress">
             <button> <a href="https://legales.com.co"> <i class="fa fa-arrow-left"></i> Inicio</a></button>
             

               <button class="multisteps-form__progress-btn js-active">1</button>
               <button class="multisteps-form__progress-btn">2</button>
               <button class="multisteps-form__progress-btn">3</button>
               <button class="multisteps-form__progress-btn">4 </button>
            </div>
         </div>
      </div>
      <!--form panels-->
      <div class="row">
         <div class="col-12 col-lg-12 m-auto">
            <!-- <form class="multisteps-form__form clearfix" action="index.html#" method="post" id="wizard"> -->
            <form class="multisteps-form__form clearfix" [formGroup]="ngFormRequest" (ngSubmit)="saveRequest()">

               <!--single form panel-->
               <div class="multisteps-form__panel js-active" data-animation="slideVert">
                  <div class="inner pb-100">
                  
                    <div class="wizard-content-item text-justify">
                      <h2 style="text-align: center;">
                        AUTORIZACIÓN TRATAMIENTO DE DATOS PERSONALES Y
                        CENTRALES DE INFORMACIÓN
                      </h2>
                      <p>
                        Declaro que para efectos de acceder a la prestación de servicios por
                        parte de REALTY & LEGAL INDUSTRY S.A.S, el suscrito ha suministrado
                        datos personales y este como responsable en cumplimiento de las
                        disposiciones de la Ley 1581 de 2012 y demás normas vigentes, le
                        informa que los datos personales que se recojan y conserven en
                        nuestras bases de datos con motivo aplicación servicio de garante,
                        serán utilizados para los fines dispuestos en este contrato como son:
                        el cumplimiento de las obligaciones contractuales, legales y
                        evaluación de los servicios prestados, informar sobre interrupciones
                        y/o suspensiones de los mismos servicios contratados, entre otras
                        finalidades necesariamente conexas con la prestación del servicio de
                        publicidad. REALTY & LEGAL INDUSTRY S.A.S, como entidad socialmente
                        responsable, informa que sus datos serán tratados de manera segura y
                        confidencial, y que le asisten los derechos de conocerlos,
                        actualizarlos y rectificarlos, acorde con la norma de protección de
                        datos personales y la política adoptada por ella, y que esta
                        información será conservada hasta cuando exista relación contractual
                        o legal entre el Cliente/Usuario y la entidad.
                      </p>
                      <div class="n-summary col-2" style="text-align: initial;">
                        <label>
                          <input type="checkbox" class="form-control" id="terminos" placeholder="Por favor, acepte para continuar" 
                          formControlName="terminos" [ngClass]="{ 'is-invalid': submitted && f['terminos'].errors }">
                          <span class="checkmark">Si Autorizo</span>
                        </label>
                        <div *ngIf="submitted && f['terminos'].errors" class="invalid-feedback" style="clear: both;">
                           <div *ngIf="f['terminos'].errors['required']">Por favor, acepte para continuar.</div>
                         </div>
                      </div>
                      <p>¿Tienes dudas? Hablemos via correo: <a href="mailto:hello&#64;legales.com.co">hello&#64;legales.com.co</a></p>
                    </div>
                    <div class="wizard-footer">
                      <div class="actions">
                        <ul>
                          <li>
                            <span class="js-btn-next" title="Sig" >
                              Sig <i class="fa fa-arrow-right"></i>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
               <div class="multisteps-form__panel " data-animation="slideVert">
                  <div class="inner pb-100">
                     <!-- <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>2 de 4 Completado</span>
                           <div class="progress">
                              <div class="progress-bar">
                              </div>
                           </div>
                        </div>
                     </div> -->
                     <div class="wizard-content-item text-center">
                        <h2></h2>
                        <p>Seleccione las respuestas correspondientes</p>
                     </div>
                     <div class="wizard-content-form">
                        <div class="wizard-form-field">
                           <div class="row">
                             <!-- <div class="col-md-8">
                                 <div class="n-summary">
                                   <span>¿Qué tipo de cliente eres?</span>
                                   <label style="float: left;">
                                     <input type="radio" id="clienTypeNuevo" value="nuevo" formControlName="clienType" [ngClass]="{ 'is-invalid': submitted && f['clienType'].errors }">
                                     <span class="checkmark">Soy un cliente Nuevo</span>
                                   </label>
                                   <label style="float: left;">
                                     <input type="radio" id="clienTypeExistente" value="existente" formControlName="clienType" [ngClass]="{ 'is-invalid': submitted && f['clienType'].errors }">
                                     <span class="checkmark">Soy un cliente Existente</span>
                                   </label>
                                   <div *ngIf="submitted && f['clienType'].errors" class="invalid-feedback" style="clear: both;">
                                     <div *ngIf="f['clienType'].errors['required']">Por favor, selecciona una opción.</div>
                                   </div>
                                 </div>
                               </div> -->
                               
                               
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">Información
                                    personal
                                 </p>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="email" placeholder="Correo electrónico"
                                       formControlName="email" required [ngClass]="{ 'is-invalid': 
                                       submitted && f['email'].errors }">
                                    <label>Correo electrónico</label>
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                       <div *ngIf="f['email'].errors['required']">El correo es obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                   <input type="text" class="form-control" id="name" placeholder="Nombre completo" formControlName="name" required [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                   <label>Nombre completo</label>
                                   <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                     <div *ngIf="f['name'].errors['required']">El nombre es obligatorio.</div>
                                   </div>
                                 </div>
                               </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label mt-0 n-select-option">
                                    <select id="identityType" name="identityType" class="form-control" formControlName="identityType" required [ngClass]="{ 'is-invalid': submitted && f['identityType'].errors }">
                                      <option value="">Seleccione el tipo de documento</option>
                                      <option value="Cedula de ciudadania">Cédula de ciudadanía</option>
                                      <option value="Cedula extranjera">Cédula de extranjería</option>
                                      <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                    <label for="identityType">Tipo de documento</label>
                                    <div *ngIf="submitted && f['identityType'].errors" class="invalid-feedback">
                                      <div *ngIf="f['identityType'].errors['required']">Por favor, seleccione un tipo de documento.</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="di" placeholder="Ej: 1125367841"
                                       formControlName="di" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['di'].errors }">
                                    <label>Número de documento</label>
                                    <div *ngIf="submitted && f['di'].errors" class="invalid-feedback">
                                       <div *ngIf="f['di'].errors['required']">El Número de documento es obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="placExpd"
                                       placeholder="Lugar de expedición" formControlName="placExpd" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['placExpd'].errors }">
                                    <label>Lugar de expedición</label>
                                    <div *ngIf="submitted && f['placExpd'].errors" class="invalid-feedback">
                                       <div *ngIf="f['placExpd'].errors['required']">El Lugar de expedición es obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="numWhat"
                                       placeholder="Numero de celular WhatsApp" formControlName="numWhat" required
                                       [ngClass]="{ 'is-invalid': 
                                    submitted && f['numWhat'].errors }">
                                    <label>Número de celular WhatsApp</label>
                                    <div *ngIf="submitted && f['numWhat'].errors" class="invalid-feedback">
                                       <div *ngIf="f['numWhat'].errors['required']">El Número de celular WhatsApp es obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="rrss"
                                       placeholder="Enlace o usuario de la red social" formControlName="rrss" required
                                       [ngClass]="{ 'is-invalid': 
                                    submitted && f['rrss'].errors }">
                                    <label>Dejanos tu usuario de la red social que mas uses</label>
                                    <div *ngIf="submitted && f['rrss'].errors" class="invalid-feedback">
                                       <div *ngIf="f['rrss'].errors['required']">Enlace o usuario incorrecto.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p>Información laboral</p>
                              </div>
                             
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="infLabol" placeholder="En que trabaja"
                                       formControlName="infLabol" required [ngClass]="{ 'is-invalid': 
                                 submitted && f['infLabol'].errors }">
                                    <label>En que trabaja</label>
                                    <div *ngIf="submitted && f['infLabol'].errors" class="invalid-feedback">
                                       <div *ngIf="f['infLabol'].errors['required']">Campo obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="infLabolMount" placeholder="A cuanto ascienden tus ingresos mensuales"
                                       formControlName="infLabolMount" required [ngClass]="{ 'is-invalid': 
                                 submitted && f['infLabolMount'].errors }">
                                    <label>A cuanto ascienden tus ingresos mensuales</label>
                                    <div *ngIf="submitted && f['infLabolMount'].errors" class="invalid-feedback">
                                       <div *ngIf="f['infLabolMount'].errors['required']">Campo obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="infLabolTime"
                                       placeholder="Desde cuando se dedica a este trabajo"
                                       formControlName="infLabolTime" required [ngClass]="{ 'is-invalid': 
                                 submitted && f['infLabolTime'].errors }">
                                    <label>Desde cuando se dedica a este trabajo</label>
                                    <div *ngIf="submitted && f['infLabolTime'].errors" class="invalid-feedback">
                                       <div *ngIf="f['infLabolTime'].errors['required']">Campo obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">Por favor,
                                    proporcione la siguiente información para completar el registro
                                 </p>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="aptoPlace"
                                       placeholder="Dirección del apartamento" formControlName="aptoPlace"
                                       required [ngClass]="{ 'is-invalid': 
                                    submitted && f['aptoPlace'].errors }">
                                    <label>Dirección del apartamento</label>
                                    <div *ngIf="submitted && f['aptoPlace'].errors" class="invalid-feedback">
                                       <div *ngIf="f['aptoPlace'].errors['required']">Dirección obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="numApto"
                                       placeholder="Número del apartamento" formControlName="numApto" required
                                       [ngClass]="{ 'is-invalid': 
                                    submitted && f['numApto'].errors }">
                                    <label>Número del apartamento</label>
                                    <div *ngIf="submitted && f['numApto'].errors" class="invalid-feedback">
                                       <div *ngIf="f['numApto'].errors['required']">Número del apartamento obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="Asesor"
                                       placeholder="Nombre del Asesor que le atendio" formControlName="Asesor" required
                                       [ngClass]="{ 'is-invalid': 
                                    submitted && f['Asesor'].errors }">
                                    <label>Nombre del asesor</label>
                                    <div *ngIf="submitted && f['Asesor'].errors" class="invalid-feedback">
                                       <div *ngIf="f['Asesor'].errors['required']">Nombre de asesor obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="inmobiliaria"
                                       placeholder="Nombre de la inmobiliaria" formControlName="inmobiliaria" required
                                       [ngClass]="{ 'is-invalid': 
                                    submitted && f['inmobiliaria'].errors }">
                                    <label>Nombre de la inmobiliaria</label>
                                    <div *ngIf="submitted && f['inmobiliaria'].errors" class="invalid-feedback">
                                       <div *ngIf="f['inmobiliaria'].errors['required']">Inmobiliaria obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="canon" placeholder="Valor del canon"
                                       formControlName="canon" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['canon'].errors }">
                                    <label>Valor del canon</label>
                                    <div *ngIf="submitted && f['canon'].errors" class="invalid-feedback">
                                       <div *ngIf="f['canon'].errors['required']">Valor del canon obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="wizard-content-item text-center col-md-12">
                                 <p style="text-align: center; padding-bottom: 10px;">DECLARACIÓN DE
                                    ORIGEN DE FONDOS
                                 </p>
                              </div>
                              <div class="col-md-12">
                                 <div class="wizard-identity wizard-content-form">
                                    <h3>Las partes aquí declaran bajo la gravedad del juramento que
                                       sus ingresos provienen de actividades licitas, que no se
                                       encuentran con registro negativo en listados de prevención
                                       de lavado de activos nacionales o internacionales, que no se
                                       encuentran dentro de una de las dos categorías de lavado de
                                       activos (conversión o movimiento) y que, en consecuencia, se
                                       obligan a responder a la otra parte por todos los perjuicios
                                       que se llegaren a causar como consecuencia de esta
                                       afirmación. En igual sentido responderá ante terceros.
                                       Declaran igualmente, que sus conductas se ajustan a la ley y
                                       a la ética
                                    </h3>
                                     <div class="n-summary" style="text-align: left;">
                                       <label style="float: left;">
                                         <input type="radio" id="declarationTypeYes" value="si" formControlName="declarationType" required [ngClass]="{ 'is-invalid': submitted && f['declarationType'].errors }">
                                         <span class="checkmark">Lo juro</span>
                                       </label>
                                       <label style="float: left;">
                                         <input type="radio" id="declarationTypeNo" value="no" formControlName="declarationType" required [ngClass]="{ 'is-invalid': submitted && f['declarationType'].errors }">
                                         <span class="checkmark">No lo juro</span>
                                       </label>
                                       <div *ngIf="submitted && f['declarationType'].errors" class="invalid-feedback" style="clear: both;">
                                         <div *ngIf="f['declarationType'].errors['required']">Por favor, selecciona una opción.</div>
                                       </div>
                                     </div>
                                     
                                 </div>
                              </div>

                           </div>
                           <div class="wizard-footer" style="min-height: 350px;">
                             
                              <div class="actions">
                                 <ul>
                                   <li>
                                     <span class="js-btn-prev" title="Atras">
                                       <i class="fa fa-arrow-left"></i> Atras
                                     </span>
                                   </li>
                                   <li>
                                     <span  class="js-btn-next" title="Sig">
                                       Sig <i class="fa fa-arrow-right"></i>
                                     </span>
                                   </li>
                                 </ul>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="multisteps-form__panel" data-animation="slideVert">
                  <div class="inner pb-100">
                     <!-- <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>3 de 4 completado</span>
                           <div class="progress">
                              <div class="progress-bar" style="width: 65%;"></div>
                           </div>
                        </div>
                     </div> -->
                     <div class="wizard-content-item text-center">
                        <h2>Referencias personales</h2>
                        <p>Ingrese 2 referencias personales</p>
                     </div>
                     <div class="wizard-content-form">
                        <div class="wizard-form-field">
                           <div class="row">
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameP1" placeholder="Nombre"
                                       formControlName="refNameP1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameP1'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameP1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameP1'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailP1"
                                       placeholder="Correo electrónico" formControlName="refEmailP1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailP1'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailP1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailP1'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneP1"
                                       placeholder="Número de teléfono" formControlName="refPhoneP1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneP1'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneP1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refPhoneP1'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityP1" placeholder="Ciudad"
                                       formControlName="refCityP1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityP1'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityP1'].errors" class="invalid-feedback">  
                                       <div *ngIf="f['refCityP1'].errors['required']">Ciudad obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameP2" placeholder="Nombre"
                                       formControlName="refNameP2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameP2'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameP2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameP2'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailP2"
                                       placeholder="Correo electrónico" formControlName="refEmailP2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailP2'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailP2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailP2'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneP2"
                                       placeholder="Número de teléfono" formControlName="refPhoneP2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneP2'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneP2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refPhoneP2'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityP2" placeholder="Ciudad"
                                       formControlName="refCityP2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityP2'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityP2'].errors" class="invalid-feedback">  
                                       <div *ngIf="f['refCityP2'].errors['required']">Ciudad obligatoria.</div>                                 
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameP3" placeholder="Nombre"
                                       formControlName="refNameP3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameP3'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameP3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameP3'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailP3"
                                       placeholder="Correo electrónico" formControlName="refEmailP3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailP3'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailP3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailP3'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneP3"
                                       placeholder="Número de teléfono" formControlName="refPhoneP3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneP3'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneP3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refPhoneP3'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityP3" placeholder="Ciudad"
                                       formControlName="refCityP3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityP3'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityP3'].errors" class="invalid-feedback">  
                                       <div *ngIf="f['refCityP3'].errors['required']">Ciudad obligatoria.</div>                                 
                                     </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="wizard-content-item text-center">                        
                        <h2>Referencias familiares</h2>
                        <p>Ingrese 2 referencias familiar</p>
                     </div>
                     <div class="wizard-content-form">
                        <div class="wizard-form-field">
                           <div class="row">
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameF1" placeholder="Nombre"
                                       formControlName="refNameF1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameF1'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameF1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameF1'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailF1"
                                       placeholder="Correo electrónico" formControlName="refEmailF1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailF1'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailF1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailF1'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneF1"
                                       placeholder="Número de teléfono" formControlName="refPhoneF1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneF1'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneF1'].errors" class="invalid-feedback"> 
                                       <div *ngIf="f['refPhoneF1'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityF1" placeholder="Ciudad"
                                       formControlName="refCityF1" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityF1'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityF1'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refCityF1'].errors['required']">Ciudad obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameF2" placeholder="Nombre"
                                       formControlName="refNameF2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameF2'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameF2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameF2'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailF2"
                                       placeholder="Correo electrónico" formControlName="refEmailF2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailF2'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailF2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailF2'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneF2"
                                       placeholder="Número de teléfono" formControlName="refPhoneF2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneF2'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneF2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refPhoneF2'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityF2" placeholder="Ciudad"
                                       formControlName="refCityF2" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityF2'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityF2'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refCityF2'].errors['required']">Ciudad obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refNameF3" placeholder="Nombre"
                                       formControlName="refNameF3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refNameF3'].errors }">
                                    <label>Nombre</label>
                                    <div *ngIf="submitted && f['refNameF3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refNameF3'].errors['required']">Nombre completo obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refEmailF3"
                                       placeholder="Correo electrónico" formControlName="refEmailF3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refEmailF3'].errors }">
                                    <label>correo electrónico</label>
                                    <div *ngIf="submitted && f['refEmailF3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refEmailF3'].errors['required']">Correo electrónico obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="number" class="form-control" id="refPhoneF3"
                                       placeholder="Número de teléfono" formControlName="refPhoneF3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refPhoneF3'].errors }">
                                    <label>Número de teléfono</label>
                                    <div *ngIf="submitted && f['refPhoneF3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refPhoneF3'].errors['required']">Numero de telémofono obligatorio.</div>
                                     </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="wizard-form-input position-relative form-group has-float-label">
                                    <input type="text" class="form-control" id="refCityF3" placeholder="Ciudad"
                                       formControlName="refCityF3" required [ngClass]="{ 'is-invalid': 
                                    submitted && f['refCityF3'].errors }">
                                    <label>Ciudad</label>
                                    <div *ngIf="submitted && f['refCityF3'].errors" class="invalid-feedback">
                                       <div *ngIf="f['refCityF3'].errors['required']">Ciudad obligatoria.</div>
                                     </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="wizard-footer" style="min-height: 350px;">
                        <div class="wizard-imgbg">
                           <img src="assets/form/img/v3.png" alt="">
                        </div>
                        <div class="actions">
                           <ul>
                             <li>
                               <span class="js-btn-prev" title="Atras">
                                 <i class="fa fa-arrow-left"></i> Atras
                               </span>
                             </li>
                             <li>
                               <span  class="js-btn-next" title="Sig">
                                 Sig <i class="fa fa-arrow-right"></i>
                               </span>
                             </li>
                           </ul>
                         </div>
                     </div>
                  </div>
               </div><!--  -->
               <div class="multisteps-form__panel " data-animation="slideVert">
                  <div class="inner pb-100">
                     <!-- <div class="wizard-topper">
                        <div class="wizard-progress">
                           <span>4 de 4 Completado</span>
                           <div class="progress">
                              <div class="progress-bar">
                              </div>
                           </div>
                        </div>
                     </div> -->
                     <div class="wizard-content-item text-center">
                        <h2>Declaración</h2>

                     </div>
                     <div class="wizard-identity wizard-content-form">
                        <div class="row">
                           <div class="col-md-12 wizard-identity wizard-content-form">
                              <p style="padding-bottom: 20px;">El suministro de información falsa en la
                                 presente solicitud incurre en el delito de falsedad en documento privado
                                 de acuerdo con los artículos 289 y 290 del C.P.C.</p>
                                 <div class="n-summary" style="text-align: left;">
                                    <label style="float: left;">
                                        <input type="radio" id="informationTypeYes" value="si" formControlName="informationType" required [ngClass]="{ 'is-invalid': submitted && f['informationType'].errors }"> 
                                        <span class="checkmark">Mi información es real</span>
                                    </label>
                                    <label style="float: left;">
                                        <input type="radio" id="informationTypeNo" value="no" formControlName="informationType"  required [ngClass]="{ 'is-invalid': submitted && f['informationType'].errors }">
                                        <span class="checkmark">No, mi información no es real</span>
                                    </label>
                                    <div *ngIf="submitted && f['informationType'].errors" class="invalid-feedback" style="clear: both;">
                                        <div *ngIf="f['informationType'].errors['required']">Por favor, selecciona una opción.</div>
                                    </div>
                                </div>
                                
                           </div>
                        </div>
                        <div class="wizard-content-item text-center col-md-12">
                           <p style="text-align: center; padding-bottom: 10px;">Información de verificación
                           </p>
                        </div>
                        <div class="wizard-content-item text-center col-md-12">
                           <h3>Cargue su documento de identidad:</h3>
                           <div class="row">
                             <div class="col-md-6 mb-3">
                               <ngx-awesome-uploader 
                                 [adapter]="adapter" 
                                 [captions]="captions"
                                 (change)="onFileChange($event)">
                               </ngx-awesome-uploader>
                               <div *ngIf="submitted && f['identityDocument'].errors" class="invalid-feedback">
                                 <div *ngIf="f['identityDocument'].errors['required']">Por favor, cargue su documento de identidad.</div>
                               </div>
                             </div>
                             <div *ngIf="uploadedImage" class="preview col-md-6">
                               <h4>Vista previa:</h4>
                               <img [src]="uploadedImage" alt="Imagen cargada" class="img-fluid" style="max-width: 60%;">
                             </div>
                           </div>
                         </div>
                     </div>

                   
                          <div class="wizard-footer">
                            <div class="actions">
                              <ul>
                                <li><span class="js-btn-prev" title="Atras"><i class="fa fa-arrow-left"></i> Atras</span></li>
                                <li><button type="submit" id="submit-form" title="enviar">Enviar <i class="fa fa-arrow-right"></i></button></li>
                              </ul>
                            </div>
                          </div>
                        
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>

</div>
