<div>
    <app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
    <app-login [hidden]="virtualRouter.routerActive!=='login'"></app-login>
    <app-request [hidden]="virtualRouter.routerActive!=='request'"></app-request>
    <app-detail [hidden]="virtualRouter.routerActive!=='detail'"></app-detail>



</div>
<!-- <app-header></app-header>
 <app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
<app-about [hidden]="virtualRouter.routerActive!=='about'"></app-about>
<app-serv-detail [hidden]="virtualRouter.routerActive!=='serv-detail'"></app-serv-detail>
<app-contact [hidden]="virtualRouter.routerActive!=='contact'"></app-contact>
<app-blog [hidden]="virtualRouter.routerActive!=='blog'"></app-blog>
<app-faq [hidden]="virtualRouter.routerActive!=='faq'"></app-faq>
<app-serv-penal [hidden]="virtualRouter.routerActive!=='serv-penal'"></app-serv-penal>
<app-serv-civil [hidden]="virtualRouter.routerActive!=='serv-civil'"></app-serv-civil>
<app-serv-inmo [hidden]="virtualRouter.routerActive!=='serv-inmo'"></app-serv-inmo>
<app-serv-emp [hidden]="virtualRouter.routerActive!=='serv-emp'"></app-serv-emp>
<app-serv-pro-int [hidden]="virtualRouter.routerActive!=='serv-pro-int'"></app-serv-pro-int>
<app-serv-adu-ext [hidden]="virtualRouter.routerActive!=='serv-adu-ext'"></app-serv-adu-ext>
<app-service [hidden]="virtualRouter.routerActive!=='service'"></app-service>
<app-footer></app-footer> -->

